/* THIS STYLESHEET IS FOR THE CREEL PAGE (client/src/pages/Creel.js) AND SHOULD BE ON THE SAME DIRECTORY AS Creel.js */

.creelpage {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0;
    z-index: -1;
}

.catch-card {
    border: none;
    width: 600px;
    margin: 50px 25px 80px 25px;
}

.catch-title {
    color: rgba(100, 109, 117);
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    padding: 10px;
    /* transform: translate(-50%, -50%);
    mix-blend-mode: screen; */
}

.list-group-item {
    border: none;
}

.list-group-item:hover {
    border: none;
}

.catch-text {
    color: rgba(100, 109, 117);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
