label {
    margin-left: 5px;
    color: white;
}

#charColor {
    color: white;
    text-shadow: 1px 1px 3px rgb(1, 6, 20);
}

a {
    color: rgb(228, 241, 247);
    text-shadow: 1px 1px 3px rgb(1, 6, 20);
}

#loginTitle {
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 20px rgb(1, 22, 34), 20px 20px 30px rgb(174, 221, 243), 60px 40px 40px rgb(161, 176, 184);
}

.container {
    text-align: center;
}

.redText { 
    display: block;
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
}

button {
    margin-left: 15px;
}