.wrapper {
  /* background-color: #c7ae63; */
  /* background-image: url("https://images.pexels.com/photos/932638/pexels-photo-932638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
  /* height: 100%; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
  