.card-body.creel{
  margin-bottom: 20px;
  background-color:#f1dbaa;
  border-radius: 2px;
  position: relative;
  
}


.container.creel{
  color: rgb(0, 0, 0);
}
.card-title.creel{
  color: black
}
.input-group-text.creel{
  background-color: #f1dbaa;
  border-color: #f1dbaa;
}
.add-btn{
  border-radius: 5px;
}
.delete-btn{
  border-radius: 5px;
}
.update-btn{
  border-radius: 5px;
}