.mobile-creel {
    background-image: url("../../assets/images/ocean.png");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    z-index: -1;
}

.mobile-creel-header {
    color: white;
    background-color: rgb(20, 94, 94)
}