.fish {
  height: 175px;
  width: 200px;
}
  
.img-card {
  height: 100%;
  margin: 15px;
  border: 5px solid rgb(2, 52, 82);
  border-radius: 3px;
}

.species-card {
  margin: 20px 10px;
  background-color:#acc2c7;
  box-shadow: 0 5px 10px rgb(45, 73, 88), 0 5px 10px rgb(45, 73, 88);
}

.content {
  text-align: center;
  padding-bottom: 8px;
}

#modalBtn {
  width: 210px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(ocean.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#modalHeader {
  background-color: #81adb8;
  
}

#modalBody {
  background-color: #b7d6dd;
}
