/* THIS STYLESHEET IS FOR THE CREEL PAGE (client/src/pages/Creel.js) AND SHOULD BE ON THE SAME DIRECTORY AS Creel.js */

.creelpage {
    background-image: url("../assets/images/ocean.png");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    z-index: -1;
}

.creel-header {
    padding: 0px !important;
    margin: 0px 50px 0px 50px !important;
    border-radius: 5px;
    text-shadow: 1px 1px 20px rgb(1, 22, 34), 20px 20px 30px rgb(174, 221, 243), 60px 40px 40px rgb(161, 176, 184);
}

.catch-card {
    border: none;
    width: 600px;
    margin: 50px 25px 80px 25px;
}

.catch-title {
    color: rgba(100, 109, 117);
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    padding: 10px;
}

.list-group-item {
    border: none;
}

.list-group-item:hover {
    border: none;
}

.catch-text {
    color: rgba(100, 109, 117);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    box-shadow: none !important;
}
