.creelpage {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0;
    z-index: -1;
}

.header-box {
    background-color: rgba(100, 109, 117, 0.8);
    width: 100vw;
}

.title {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 80px;
}

.subtitle {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}