.fishing {
  height: 275px;
  width: 400px;
}
  
.fishing-card {
  margin-bottom: 20px;
  background-color:#acc2c7;
  border-radius: 2px;
  position: relative;
  box-shadow: 10px 5px 3px rgb(45, 73, 88);
}

.fishcontent {
  text-align: center;
  padding-bottom: 8px;
  height: 75%;
  width: 400px;
}

#game {
  height:auto;
}

ul {
  list-style-type: none;
  padding: 0;
}
