.fishing {
  height: 275px;
  width: 400px;
}
  
.img-card {
  height: 100%;
  margin: 10px;
  border: 5px solid rgb(161, 97, 36);
}

.fishing-card {
  margin-bottom: 20px;
  background-color:#f1dbaa;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.fishcontent {
  text-align: center;
  padding-bottom: 8px;
  height: 75%;
  width: 400px;
}

#game {
  height:auto;
}

ul {
  list-style-type: none;
  padding: 0;
}
