.homepage {
    background-image: url("../../assets/images/ocean.png");
    background-size: cover;
    background-position: fixed;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    z-index: -1;
}

.cards {
    position: absolute;
    z-index: 1;
    padding-bottom: 30px!important;
}
