.homepage {
    background-image: url("../../images/ocean2.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.purpose-box {
    margin: 15px 170px 80px 170px;
}

.purpose {
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

.purpose-text {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}