.footer {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 12px;
  background: rgb(1, 36, 56);
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
}

.text-center {
  margin: 0;
}
