.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 12px;
  background: rgb(1, 36, 56);
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  z-index: 3;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  position: fixed;
  bottom: 0;
}
