.footer span {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(1, 43, 56);
  height: 40px;
  color: white;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  border: none;
}
