.buttons {
    margin-top: 80px;
}

.btn {
    margin-right: 10px;
    background-color: rgb(1, 36, 56);
}

.popover .good {
border: 2px solid rgb(1, 36, 56);
background-color: green;
}

.popover .vulnerable {
    background-color: yellow;
}

.arrow {
border-right-color: red !important;
}