.header-box {
    padding: 20px 20px 0px 20px;
}

.title {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 80px;
}

.subtitle {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
